<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="eshvarov-sample-seabattle.ZPM">
    <Module>
      <Name>eshvarov-sample-seabattle</Name>
      <Version>1.1.1</Version>
      <Description>Simple terminal game an approach to "Sea Battle". Example of simple ObjectScript method calls and terminal interaction</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="eshvarov.sample.SeaBattle.PKG"/>
      <SystemSetting Name="CSP.DefaultFileCharset" Value="UTF-8"/>
      <AfterInstallMessage>Call do ##class(eshvarov.sample.SeaBattle.Game).Run() to start The Game!</AfterInstallMessage> 
    </Module>
    
  </Document>
</Export>
